<div class="about-section-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="../assets/images/about-img.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <div class="inner-column">
            <h1>Welcome To <span>OurPlace Restaurant</span></h1>
<h1>Little Story</h1>
<p>At OurPlace Restaurant, we take pride in serving authentic South Indian cuisine. Specializing in dosas, biryanis, pulavs, and other traditional Indian dishes, we offer a culinary experience that transports you to the heart of South India. Our dosas are expertly crafted to be crispy and flavorful, while our biryanis and pulavs are prepared with aromatic spices and fresh ingredients. Each dish is made with care to ensure the highest quality and an unforgettable dining experience.</p>
<p>Join us for a taste of the rich and diverse flavors of South Indian cuisine. From our signature dosas and biryanis to our comforting curries and fresh, spicy pulavs, every meal is a celebration of traditional recipes and authentic flavors. Whether you're a fan of spicy curries or savory dosas, OurPlace Restaurant is your destination for a delightful South Indian feast.</p>

          <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
          </div>
        </div>
      </div>
    </div>
  </div>