.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-image img {
  width: 100%;
  display: block;
}

.carousel-image:not(.active) {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  transform: translateY(-50%);
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}
