body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}
.coming-soon {
    font-size: 3em; /* Adjust size as needed */
    color: #333333;
    font-weight: bold;
    animation: fadeInScale 3s ease-in-out infinite;
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}